#!/usr/bin/make -f

export PYBUILD_NAME=capiforge
export PYBUILD_DISABLE=test

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_auto_test:
	# Tests run in CI; skip during package build by default.
